<form [formGroup]="formEdit">
  <div class="container" align="center">
    <div class="row">
      <div class="spacer-clearfix" style="height: 40px;"></div>
      <div class="services-info col-md-12">
        <h2 class="section-title">Cập nhật thông tin khách hàng</h2>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Tên khách hàng</label>
      <div class="col-lg-9">
        <input type="text" class="form-control"
               placeholder="Họ Tên..." formControlName="fullName">
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.fullName.errors?.required && formEdit.controls.fullName.touched">
          Vui lòng nhập họ tên
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Ngày Sinh</label>
      <div class="col-lg-9">
        <!--        <input type="date" class="form-control" placeholder="Ngày Sinh..." formControlName="birthDay">-->
        <mat-form-field class="float-start">
          <input [max]="maxDate" [min]="minDate" formControlName="birthDay" matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.birthDay.errors?.required && formEdit.controls.birthDay.touched">Vui lòng chọn ngày sinh</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Giới tính</label>
      <div class="col-lg-9">
        <select class="custom-select" formControlName="gender">
          <option value="" selected>--Chọn giới tính--</option>
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.gender.errors?.required && formEdit.controls.gender.touched">Vui lòng nhập giới
          tính</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Chứng minh thư</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Số CMND..." formControlName="identity">
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.identity.errors?.required && formEdit.controls.identity.touched">Vui lòng nhập số CMND</p>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.identity.errors?.pattern && formEdit.controls.identity.touched">Số CMND phải bao gồm 9 số</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Số điện thoại</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Số điện thoại..." formControlName="phone">
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.phone.errors?.required && formEdit.controls.phone.touched">Vui lòng nhập số điện thoại</p>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.phone.errors?.pattern && formEdit.controls.phone.touched">
          Số điện thoại phải bắt đầu bằng 090, 091, (84)+90... hoặc (84)+91... và có 10 số</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Email</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="địa chỉ email..." formControlName="email">
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.email.errors?.required && formEdit.controls.email.touched">Vui lòng nhập địa chỉ email</p>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.email.errors?.email && formEdit.controls.email.touched">Email không đúng định dạng</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Loại khách hàng</label>
      <div class="col-lg-9">
        <select class="custom-select" formGroupName="customerType" (change)="onChange($event.target.value)">
          <option value="" selected>--Chọn loại khách hàng--</option>
          <option [value]="type | json" *ngFor="let type of customerTypes">
            {{type.name}}
          </option>
          <input type="text" hidden formControlName="id" [(ngModel)]="id">
          <input type="text" hidden formControlName="name" [(ngModel)]="name">
        </select>
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.customerType.errors?.required && formEdit.controls.customerType.touched">Vui lòng nhập loại
          khách hàng</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Địa chỉ</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="địa chỉ..." formControlName="address">
        <p class="text-danger float-start p-2"
           *ngIf="formEdit.controls.address.errors?.required && formEdit.controls.address.touched">Vui lòng nhập địa
          chỉ</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" align="right">
        <a [routerLink]="['/customerList']" class="btn btn-warning">
          <i class="fa fa-repeat" aria-hidden="true"></i>
          Quay lại
        </a>
      </div>
      <div class="col-lg-6" align="left">
        <button [disabled]="formEdit.invalid" (click)="editCustomer()" class="btn btn-success">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Cập nhật
        </button>
      </div>
    </div>
    <div class="spacer-clearfix" style="height: 40px;"></div>
  </div>
</form>

