<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Daily</title>
</head>
<body>
<h1>Blog</h1>
<a href="/showCreate">Create new Blog</a>
<form action="/" method="get">
    <input type="text" name="nameSearch">
    <input type="submit" value="search">
</form>
<table border="1">
    <tr>
        <th>Blog name</th>
        <th>Content</th>
        <th>Author</th>
        <th>Category</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.blogName}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.categoryName}"></td>
            <td><a th:href="@{/showEdit/__${blog.blogId}__}">Edit</a></td>
            <td><a th:href="@{/showDelete/__${blog.blogId}__}">Delete</a></td>
            <td><a th:href="@{/showInfo/__${blog.blogId}__}">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>