*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.navbar{
    clear: both;
    background: #333333;
    top: 0;
    width: 100%;
    position: relative;
    padding: 10px 0;
}
.navbar a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
}
.navbar a:hover{
    background: black;
}
.left{
    width: 15%;
    float: left;
    background-color: whitesmoke;
    border: 1px solid #CDCDCD;
    padding: 10px;
    min-height: 652px;
}
.left p{
    text-align: center;
    color: blue;
    text-decoration: none;
}
.content{
    padding: 10px 0 10px 10px;
    width: 65%;
    float: left;
}
.right{
    width: 15%;
    float: right;
    background-color: whitesmoke;
    border: 1px solid #CDCDCD;
    padding: 10px;
    min-height: 652px;
}
.right p{
    border: 1px solid #CDCDCD;
    padding: 30px 0 30px 10px;
    text-align: center;
}
.footer{
    background: #333333;
    color: white;
    clear: both;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
#main {
    padding: 16px;
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}